{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<style>
      body {
        background-color: #2B4570;
        margin: 0;
        font-family: sans-serif;
    }
    .example-wrapper {
        margin: 2em auto;
        max-width: 800px;
        width: 95%;
        color:white;
    }

    .account-info  {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 1em;
        border-radius: 8px;
        margin-top: 2em;
    }

    .account-info h2 {
        margin-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 0.5em;
    }
   .example-wrapper .account-info a {
    color: #E49273;
    text-decoration: none; 
    font-weight: bold;
    }
       .example-wrapper .account-info a:hover {
    text-decoration: underline;
    color: #ff6666;
    }
</style>
<div class="example-wrapper">
    <h1>Register !</h1>
     <div class="account-info">
        {{form(registerForm)}}
        <a href="{{ path('app_login') }}">Login</a>
     </div> 
</div>
{% endblock %}
