<p>Bonjour</p>
<p>Merci pour votre inscription sur notre site internet.
 Bienvenue sur le site My_QUIZZ.</p>
<p>Vous pouvez dès à présent jouer .</p>
<p>Pour confirmer votre inscription, veuillez cliquer sur le lien suivant : <a href="{{ verifUrl }}">Confirmer mon compte</a></p>
<p>L'équipe My_QUIZZ</p>
